<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
			<a href="#" class="navbar-brand">Treebook</a>
			<ul class="nav">
				<li><%= link_to "All Statuses", statuses_path %></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
